<h2>All Coaches</h2>
<%= link_to "Add an Coach", new_coach_path %>
<table >
  <tr>
    <th>name</th>
    <th>specialty</th>
  </tr>

  <% @coaches.each do |coach| %>
      <tr>
        <td><%= link_to coach.name, coach_path(coach) %></td>
        <td><%= coach.specialty %></td>
        <td> <%=link_to 'Delete' ,coach_path(coach.id) ,method: :delete, data: { confirm: 'Are you sure?' }%>  </td>
        <td><a href="<%= edit_coach_path(coach) %>" > Edit
          </a>
          </td>
      </tr>
  <% end %>
</table>
