
<%=form_with model:@exercise, local: true do |form| %>
    <p>
    Name:
    <%=form.text_field :name %>
    </p>
    <p>
    Explain:
    <%=form.text_area :explain %>
    </p>
    <p>
    img: 
    <%=form.text_field :img %>
    </p>
    <%= form.submit %>
    <% end %>