<body>
<header>
<p>
  Welcome <%= current_user.email %>
</p>
</header>
<nav>
        <ul class="nav nav-tabs">
          <li class="nav-item">   <a class="nav-link active" <%= link_to 'Exercise', exercises_path %></li></a>
          <li class="nav-item"><a class="nav-link active" <%= link_to 'Coach', coaches_path %></li></a>
          <% if user_signed_in? %>
            <li class="nav-item"> <a class="nav-link active" <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li></a>
          <% end %>
          <li class="nav-item"><a class="nav-link active" <%= link_to "Add an Exercise", new_exercise_path %></li></a>
        </ul>
      </nav>
<table class="table table-striped">
  <tr>
    <th scope="col">Exercise</th>
    <th scope="col">Image</th>
    <th scope="col">Explain</th>
    <th scope="col">Edit</th>
    <th scope="col">Delete</th>
  </tr>
  
  <% @exercises.each do |exercise| %>
      <tr >
        <td ><%= link_to exercise.name, exercise_path(exercise) %></td>
        <td><%= image_tag(exercise.img, size: "200x200", alt: "exercise Image") %></td>
        <td><%= exercise.explain %></td>
        
        <td><button type="button" class="btn btn-light"><a href="<%= edit_exercise_path(exercise) %>" > Edit
          </a>
          </button>
        </td>
        <td><button type="button" class="btn btn-light"> <%=link_to 'Delete' ,exercise_path(exercise.id) ,method: :delete, data: { confirm: 'Are you sure?' }%> </button>
          </td>
         
      </tr>
  <% end %>
</table>
</body>