<h1>All the Exercise</h1> 
<p>
  Welcome <%= current_user.email %>
</p>
<% if user_signed_in? %>
  <p><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></p>
<% end %>
<%= link_to "Add an Exercise", new_exercise_path, { :class => "button waves-effect waves-light btn" } %>

<table class="striped bordered">
  <tr>
    <th>Exercise</th>
    <th>Image</th>
    <th>Explain</th>
  </tr>

  <% @exercises.each do |exercise| %>
      <tr>
        <td><%= link_to exercise.name, exercise_path(exercise) %></td>
        <td><%= image_tag(exercise.img, size: "200x200", alt: "exercise Image") %></td>
        <td><%= exercise.explain %></td>
        <td><a href="<%= edit_exercise_path(exercise) %>" > Edit
          </a>
        </td>
        <td> <%=link_to 'Delete' ,exercise_path(exercise.id) ,method: :delete, data: { confirm: 'Are you sure?' }%>  </td>
       
      </tr>
  <% end %>
</table